# local heavy resources
app/Inspector_resources/
app/_logs/
app/_state/

# common big files
*.bed
*.bim
*.fam
*.vcf
*.vcf.gz
*.tbi
*.rds
*.rda
*.RData
*.tsv.gz
*.out
*.out.gz
*.zip
*.tar
*.tar.gz

# binaries
app/Inspector_resources/software/plink19
app/LD_Inspector/www/plink19
app/LD_Inspector/www/POP
